<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=(localdb)\LocalDB;Integrated Security=true;Database=ExcelReader"/>
	</connectionStrings>
	<appSettings>
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
</configuration>