<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FilePath" value="F:\C#Academy\ExcelReader.BBualdo\ExcelReader.BBualdo\Data\data.xlsx" />
		<add key="StartCol" value="1" />
		<add key="StartRow" value="2" />
		<add key="ConnectionString" value="Server=(localdb)\C#AcademyProjects;Database=FromExcelDb;Integrated Security=true;TrustServerCertificate=True;Encrypt=false" />
	</appSettings>
</configuration>