<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial"/>
    </appSettings>
    <connectionStrings>
        <add name="DefaultConnection"
             connectionString="Server=localhost,1433;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=true;"
             providerName="System.Row.SqlClient"/>
    </connectionStrings>
</configuration>
