<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="ExcelSheet" value="C:\Users\samuel.gannon\Documents\zPersonal\Misc\Mock Data\SampleFootballPlayerData.xlsx"/>
	</appSettings>
	<connectionStrings>
		<add name ="DataConnection"
			 connectionString="Server=(localdb)\mssqllocaldb;Database=PlayerDataDB;Trusted_Connection=True;"/>
	</connectionStrings>
</configuration>