<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=(localdb)\mssqllocaldb;Integrated Security=True;Connect Timeout=60;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />
		<add key="DatabaseConnectionString" value="Data Source=(localdb)\mssqllocaldb;Initial Catalog=ArquiveReader;Integrated Security=True;Connect Timeout=60;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />
		<add key="FilePath" value="C:\\Programming\\CSharp\\ForksReview\\CodeReviews.Console.ExcelReader\\ExcelReader.VocalNight\\testing.xlsx" />
	</appSettings>
</configuration>